input[type='submit'], button, [aria-label] {
    cursor: pointer;
}

#requestOfferForm {
    display: none;
}

.form-item {
    width: 100%;
    margin: 10px;
}

label {
    display: block;
}

label.inline {
    display: inline;
}
